<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="assets/materialdesignicons.min.css" rel="stylesheet">
    <link href="assets/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
    #app{
        width: 500px;
        height: 280px;
        position: relative;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
    }
    #vue_main{
        margin-top: 250px;
    }
    #login_cv_title{
        font-size: 30px;
        color: black;
        text-align: left;
        margin-top: 32px;
        margin-left: 24px;
    }
    #login_form{
        margin-left: 64px;
        margin-right: 64px;
    }
    #login_cv{
        width: 500px;
    }
    #login_btn{
        width: 100px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
</style>
<body>
<div id="app" data-app="true">
    <v-main id="vue_main">
        <template>
            <v-card id="login_cv">
                <v-card-text>
                    <p id="login_cv_title">
                        登录
                    </p>
                </v-card-text>
                <form id="login_form">
                    <v-text-field
                            v-model="loginFormData.username"
                            :counter="10"
                            label="用户名"
                            required
                    ></v-text-field>
                    <v-text-field
                            v-model="loginFormData.password"
                            label="密码"
                            required
                    ></v-text-field>
                    <v-btn
                            id="login_btn"
                            :loading="loading"
                            :disabled="loading"
                            color="black"
                            @click="loader = 'loading'">
                        登录
                    </v-btn>
                </form>
            </v-card>

            <v-row justify="center">
                <v-dialog
                        v-model="login_msg_dialog"
                        max-width="290">
                    <v-card>
                        <v-card-title class="headline">提示</v-card-title>

                        <v-card-text>
                            {{login_msg}}
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn

                                    color="green darken-1"
                                    text
                                    @click="login_msg_dialog = false">
                                好的
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-row>

        </template>

    </v-main>



</div>


<script src="js/vue.js"></script>
<script src="js/vuetify.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>

    let v = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data(){
            return{
                loginFormData: {},
                loading: false,
                loader: null,
                login_msg_dialog: false,
                login_msg: "",
                in_login: false,
            }
        },
        watch: {
            loader () {
                if (!this.in_login){
                    this.in_login = true
                    const l = this.loader
                    this[l] = !this[l]

                    console.log(this.loginFormData)
                    //发送ajax请求
                    axios.post("/login",this.loginFormData).then((res)=>{
                        console.log(res.data);
                        if (res.data.code === 200100){
                            this.login_msg = res.data.msg
                            this.login_msg_dialog = true
                        }else{
                            // this.login_msg = "登录成功！"
                            // this.login_msg_dialog = true
                            window.location.href='../admin.html'
                        }
                    }).finally(()=>{
                        this[l] = false
                        this.in_login = false
                    });

                    // setTimeout(() => (this[l] = false), 3000)

                    this.loader = null
                }

            },
        },
        methods: {
            clear () {
                this.username = ''
                this.email = ''
                this.select = null
                this.checkbox = false
            },
        },
    });
</script>

</body>
</html>